<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">

		<!-- Create new -->
		<p><h1>Introduction</h1></p>
		<p><h2>My name is Henry</h2></p>
		<p><h3>This is <%= link_to 'My Blog', root_path %></h3></p>

	</div>
</div>
